---
import LanguagePicker from "@/components/LanguagePicker.astro";
const today = new Date();
import RLAButton from "@rimelight/ui/components/astro/RLAButton.astro";

---

<footer class="py-8 pb-24 px-4 bg-[linear-gradient(var(--gray-gradient))_no-repeat] text-[rgb(var(--gray))] text-center">
	&copy; {today.getFullYear()} Mironescu Octavian. All rights reserved.
	<div class="social-links flex justify-center gap-4 mt-4">
		<RLAButton href="https://m.webtoo.ls/@astro" leadingIcon="i-mastodon-icon" variant="ghost" size="xl" />
		<RLAButton href="https://twitter.com/astrodotbuild" leadingIcon="i-logos-x" variant="ghost" size="xl"/>
		<RLAButton href="https://github.com/withastro/astro" leadingIcon="i-logos-github-icon" variant="ghost" size="xl" />
	</div>
	<div>
		<a>
			<LanguagePicker />
		</a>
	</div>
</footer>
