---
import AppLayout from "@/layouts/AppLayout.astro"


---

<script>
    // Import from npm package.
    //import confetti from 'canvas-confetti';

</script>
<AppLayout>
    <p>
        Page has not been found.
    </p>
</AppLayout>