---

import { getCollection } from 'astro:content';
import AppLayout from '@/layouts/AppLayout.astro';
import FormattedDate from "@/components/FormattedDate.astro";

const legalPolicy = (await getCollection('legal'));

---

<AppLayout>
    <main>
        <section>
            <ul>
                {
                    legalPolicy.map((policy) => (
                        <li>
                            <a href ={`/legal/${policy.id}/`}>
                                <h4 class="title">{policy.data.title} </h4>

                            </a>
                            <p class ="date">
                                <FormattedDate date = {policy.data.pubDate} />
                            </p>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>



</AppLayout>
